{% extends 'ukraine_swu/base.html' %}
{% load static %}
{% block content %}

<section id="entry_page">
    <div id="card">
        <div id="entry_image"><img id="photo" src='{{ entry.image }}' /></div>
      <div id="content">  
        <div id="header"><h1>{{ entry.header }}</h1></div>
     
            <div id="entry-topic">Категорія: {{ entry.topic }}</div>
            <div id="entry-budget"><div id='coins'></div>{{ entry.budget }} грн</div>
            <div id="text">{{ entry.text }}</div>
            <div id="text">{{ entry.rich_text|safe }}</div>
            <div ><a id="edit_entry" href="{% url 'ukraine_swu:edit_entry' entry.id %}">Редагувати</a></div>
        </div>
    </div>
</section>  
{% endblock content %}