
{% extends 'ukraine_swu/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
<div class="all">  
  <div class="videoloop">
      <video src="{% static 'ukraine_swu/ukraine.mp4' %}" autoplay="autoplay" loop="loop" muted=""></video>
      <div id="title"><p>Україна починається з тебе</p></div>
  </div>

  <section id="projects">
    <div id="projects-title"><h1 >Проекти:</h1></div>
    <div class="entry-cards">
      {% for entry in entries %}
      <div class="entry-card">
          <div class="face face1">
              
              <div class="content">
                <img src="{{ entry.image }}">
                  <h3><a href="{% url 'ukraine_swu:entry_page' entry.id %}">{{ entry.header }}</a></h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>{{ entry.text }}</p>
                      <a href="{% url 'ukraine_swu:entry_page' entry.id %}">Більше</a>
              </div>
          </div>
      </div>
      {% endfor %}  
    </div>
  </section>

  <section id="people">
    <div id="people_header"><h1>Учасники проекту</h1></div>
    <div class="people-group">
      {% for person in people %}
        <div class="people-item" style="background-image: url('{{ person.photo }}')">
          <h1>{{ person.name }}</h1>
        </div>
      {% endfor %}
    </div>
  
      <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
    
  </section>
</div>
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js'></script>
<script >
  if (window.innerWidth > 740) { 
  const items = document.querySelectorAll('.people-item');
  const expand = (item, i) => {
    items.forEach((it, ind) => {
      if (i === ind) return;
      it.clicked = false;
    });
    gsap.to(items, {
      width: item.clicked ? '15vw' : '8vw',
      duration: 2,
      ease: 'elastic(1, .6)' });
  
  
    item.clicked = !item.clicked;
    gsap.to(item, {
      width: item.clicked ? '42vw' : '15vw',
      duration: 2.5,
      ease: 'elastic(1, .3)' });
  
  };
      
  items.forEach((item, i) => {
    item.clicked = false;
    item.addEventListener('click', () => expand(item, i));
  });
}
</script>

</html>
{% endblock content %}