
{% extends 'ukraine_swu/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
<div class="all">  
  <div class="videoloop">
      <video src="{% static 'ukraine_swu/ukraine.mp4' %}" autoplay="autoplay" loop="loop" muted=""></video>
      <div id="title"><p>Україна починається з тебе</p></div>
  </div>

  <div id='slides' class="slides">
    <div><h1 id="projects-title">Проекти:</h1></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for entry in entries %}
        <div class="slider-item swiper-slide">
          <div class="slider-image-wrapper">
            <a href="{% url 'ukraine_swu:entry_page' entry.id %}"><img class="slider-image" src="{{ entry.image }}" alt="SliderImg"></a>
          </div>
          <div class="slider-item-content">
            <a href="{% url 'ukraine_swu:entry_page' entry.id %}"><h1>{{ entry.header }}</h1></a>
            <p>{{ entry.text }}</p>
          </div>
        </div>
        {% endfor %}
        
      </div>
      <div class="slider-buttons">
        <button class="swiper-button-prev">Попередній</button>
        <button class="swiper-button-next">Наступний</button>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js'></script>
<script >
    var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 20,
    effect: 'fade',
    loop: true,
    speed: 300,
    mousewheel: {
      invert: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      dynamicBullets: true
    },
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });
</script>

</html>
{% endblock content %}