{% extends 'ukraine_swu/base.html' %}

{% block content %}

<section id="people">
  <div id="people_header"><h1>Учасники проекту</h1></div>
  <div class="people-group">
    {% for person in people %}
      <div class="people-item" style="background-image: url('{{ person.photo }}')">
        <h1>{{ person.name }}</h1>
      </div>
    {% endfor %}
  </div>
 
    <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
  
</section>

<script>
if (window.innerWidth > 740) { 
  const items = document.querySelectorAll('.people-item');
  const expand = (item, i) => {
    items.forEach((it, ind) => {
      if (i === ind) return;
      it.clicked = false;
    });
    gsap.to(items, {
      width: item.clicked ? '15vw' : '8vw',
      duration: 2,
      ease: 'elastic(1, .6)' });
  
  
    item.clicked = !item.clicked;
    gsap.to(item, {
      width: item.clicked ? '42vw' : '15vw',
      duration: 2.5,
      ease: 'elastic(1, .3)' });
  
  };
      
  items.forEach((item, i) => {
    item.clicked = false;
    item.addEventListener('click', () => expand(item, i));
  });
}
</script>
  
{% endblock content %}